In [1]:
# Define the data for the girls
girls_names = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian']
girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girls_scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Define the data for the boys
boys_names = ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
boys_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boys_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boys_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

# Print the table header
print("Name\t| Age\t| Height\t| Score")

# Print the girls' data
for i in range(len(girls_names)):
    print(f"{girls_names[i]}\t| {girls_age[i]}\t| {girls_height[i]}\t\t| {girls_scores[i]}")

# Print the boys' data
for i in range(len(boys_names)):
    print(f"{boys_names[i]}\t| {boys_age[i]}\t| {boys_height[i]}\t\t| {boys_scores[i]}")

Name	| Age	| Height	| Score
Samantha	| 17	| 5.5		| 80
Jada	| 16	| 6.0		| 85
Jane	| 17	| 5.4		| 70
Claire	| 18	| 5.9		| 60
Elizabeth	| 16	| 5.6		| 76
Mary	| 18	| 5.5		| 66
Susan	| 17	| 6.1		| 87
Waje	| 20	| 6.0		| 95
Taibat	| 19	| 5.7		| 50
Lilian	| 17	| 5.5		| 49
Charles	| 19	| 5.7		| 74
Jude	| 16	| 5.9		| 87
James	| 18	| 5.8		| 75
Kelvin	| 17	| 6.1		| 68
Biodun	| 20	| 5.9		| 66
Wale	| 19	| 5.5		| 78
Kunle	| 16	| 6.1		| 87
Matthew	| 18	| 5.4		| 98
Tom	| 17	| 5.8		| 54
Kayode	| 19	| 5.7		| 60

In [2]:
# Get input from user
years_of_experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

# Calculate annual tax revenue based on the conditions
if years_of_experience > 25 and age >= 55:
    atr = 5600000
elif years_of_experience > 20 and age >= 45:
    atr = 4480000
elif years_of_experience > 10 and age >= 35:
    atr = 1500000
else:
    atr = 550000

# Print the annual tax revenue
print(f"The annual tax revenue is: N{atr}")

Enter years of experience: 20
Enter age: 67
The annual tax revenue is: N1500000